@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

:root {
  --main-general-bg: #fdfdfd;
  --main-secondary-bg: #1C1C28;
  --main-secondary-bg-smooth: #39394b;
  --primary-bg: #51A144;
  --dark-text: #2B2A2A;
  --light-text: #FFFFFF;
  --dim-text: #5E5E5E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-general-bg);
  color: var(--light-text);
  font-family: 'Monda', sans-serif;
}