.detail_prod_name {
  font-size: 24px;
  padding: 20px;
  text-transform: capitalize;
  text-align: left;
}

.detail_information {
  width: 100%;
}

.detail_information>p {
  font-size: smaller;
  text-align: left;
  padding: 5px 20px;
}

.image_container {
  width: 100%;
  display: flex;
}

.image_container>img {
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0 0 5px #000);
  padding: 20px;
}

.detail_information>h3 {
  padding: 10px 20px;
}

.price {
  text-align: left;
  background-color: var(--primary-bg);
  color: #000;
  text-shadow: 0 0 2px #222;
  padding: 6px;
  border-radius: 6px;
}

/* information title */
.detail_information>h4 {
  padding: 20px 20px 0 20px;
}

@media only screen and (min-width:780px) {
  .detail_info_container {
    display: flex;
    justify-content: space;
    padding: 20px;
  }

  .detail_information {
    background-color: var(--primary-bg);
    width: 40%;
  }

  .detail_information>p {
    font-size: 1em;
  }

  .price {
    background-color: var(--main-secondary-bg-smooth);
    color: #FFF;
  }

  .image_container {
    background-color: rgba(0, 0, 0, 0.13);
  }

  .image_container>img {
    width: 80%;
    height: 500px;
  }
}